*.swp
*.jar
*.class
lib
auxlib
build
framework/lib
framework/.classpath
framework/.project
framework/.settings
framework/javadoc
framework/build
framework/bin
sample/lib
sample/.classpath
sample/.project
sample/.settings
sample/javadoc
sample/build
sample/bin
